@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

th, td {
    border: 1px groove black;
    min-width: 100px;
    min-height: 30px;
    text-align: center;
}

td[data-value = "email"]:not(tr#columns-row > td) {

  text-decoration: underline blue;
  color: blue;

}

input:focus, select:focus {

  outline: none;

}

#table-container {
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
}

#table-container .action-bar {
  display: grid;
  grid-template-areas: "row column nada delete";
  grid-template-columns: 20% 20% 40% 20%;
}

#table-container .action-bar .btn-row {
  grid-area: row;
  background: rgb(1, 151, 1);
}

#table-container .action-bar .btn-row:hover {
  cursor: pointer;
  background: green;
}

#table-container .action-bar .btn-column {
  grid-area: column;
  background: rgb(90, 146, 209);
}

#table-container .action-bar .btn-column:not([disabled]) {
  grid-area: column;
  background: rgb(0, 102, 216);
}

#table-container .action-bar .btn-column:not([disabled]):hover {
  cursor: pointer;
  background-color: blue;
}

#table-container .action-bar .btn-delete {
  grid-area: delete;
  background: rgb(240, 115, 115);
}

#table-container .action-bar .btn-delete:not([disabled]) {
  grid-area: delete;
  background: rgb(246, 65, 65);
}

#table-container .action-bar .btn-delete:not([disabled]):hover {
  cursor: pointer;
  background: red;
}

.btn {
  height: 50px;
  padding: 5px;
  margin-right: 10px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 7px;
}

#table-container .btn:focus {

  outline: none;

}

#table-container table {
  width: 100%;
  margin: 15px 0;
  border-collapse: collapse;

}

#table-container table tbody #columns-row {

  font-weight: bold;

}

#table-container table thead tr {
  font-weight: bold;
}

#table-container table tr td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  padding: 5px;
}

#table-container .fa-cog {

  cursor: pointer;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 20%;
  padding-right: 30%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: block;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content label {

  display: flex;
  flex-direction: column;

}

.modal-content label span {

  font-family: sans-serif;
  color: rgb(80, 80, 80);
  margin-bottom: 10px;

}

.modal-content label .second-label {

  margin-top: 20px;

}

.modal-content label #column-header {

  max-width: 400px;
  height: 30px;
  padding: 15px 0 15px 8px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 4px;
  font-size: 1em;

}

.modal-content label #column-type {

  max-width: 400px;
  height: 30px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 4px;
  padding: 1px 10px 1px 5px;
  font-size: 1em;
  color: rgb(112, 112, 112);
  
}

.modal-content input[type="submit"] {

  min-width: 100px;
  height: 40px;
  margin-top: 10px;
  background-color: #ffffff;
  color: rgb(90, 90, 90);
  border: 1px solid rgb(0, 172, 0);
  font-size: 0.9em;

}

.modal-content input[type="submit"]:hover {

  cursor: pointer;
  background-color: rgb(0, 172, 0);
  color: #ffffff;

}

.close {
  z-index: 1;
  margin-top: -5px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.options-popup, .context-menu {

  display: none;
  position: absolute;
  flex-direction: column;
  z-index: 10;
  background-color: #fbfbfb;
  padding: 10px;
  border: 1px solid #aaa;
  align-items: center;

}

.context-menu .delete {

  color: red;
  font-weight: bold;
  font-size: 1.1em;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;

}

.options-popup span {

  font-size: 1.1em;
  margin: 5px;
  cursor: pointer;

}

.options-popup span:hover {

  color: rgb(5, 121, 1);

}

#table-container .dragging {

  opacity: .4;

}